body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  line-height: 32px;
  padding: 20px 50px;
}

.top-section {
  background: url("images/3411355-1.jpg");
  background-position: center;
  color: white;
}

.wrapper-padding {
  padding: 50px 100px;
}

.btn-right {
  float: right;
}

button:hover {
  background-color: grey;
  border-color: grey;
  color: white;
}

.logo {
  text-decoration: none;
  color: white;
}

.btn {
  font: inherit;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 12px 24px;
  border: 1px solid transparent;
  color: #333;
  background-color: rgb(0, 191, 255);
  border-color: rgb(0, 191, 255);
  border-radius: 4px;
}

section h1 {
  font-size: 36px;
}

.intro-section__agora {
  font-size: 72px;
  margin: 150px 0px 400px 0px;
  padding-left: 18px;
  padding-right: 18px;
}

.intro-section__tagline {
  width: 50%;
  padding: 50px 100px;
}

.intro-section__tagline-title {
  font-size: 36px;
}

.intro-section__tagline-subtext {
  font-size: 16px;
  line-height: 1.5em;
  width: 90%;
  margin-bottom: 24px;
}

.features-section {
  color: black;
  background-color: white;
}

.features-section_flex {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.features-section__card {
  margin: 24px;
  max-width: 400px;
}

.features-section__card__subtext_font {
  font-size: 16px;
}

.demo-section {
  background: url("images/3411355-1.jpg");
  background-position: bottom;
  color: white;
}

.demo-section__text {
  width: 50%;
  margin-right: 100px;
}

.demo-section-display {
  display: flex;
  align-items: center;
}

.demo-section__video {
  width: 100%;
}

.try-now-section {
  background-color: lightgrey;
}

.footer {
  background-color: white;
}

.icon-black {
  color: black;
}

/* Margins, Padding */

.margin-right-sm {
  margin-right: 8px;
}

.margin-left-sm {
  margin-left: 8px;
}

.margin-right-md {
  margin-right: 24px;
}

.margin-left-md {
  margin-left: 24px;
}

.margin-top-md {
  margin-top: 24px;
}

.margin-right-lg {
  margin-right: 48px;
}

.margin-left-lg {
  margin-left: 48px;
}

.margin-bottom-md {
  margin-bottom: 24px;
}

.margin-bottom-lg {
  margin-bottom: 48px;
}

.margin-auto {
  margin: auto;
}

.padding-bottom-lg {
  padding-bottom: 48px;
}

.text-align-center {
  text-align: center;
}

.display-block {
  display: block;
}

/* Responsive */
@media screen and (max-width: 480px) {
  /* mobile */
  #page-content {
    overflow-x: hidden;
  }

  .header {
    padding: 20px;
  }

  .intro-section__tagline {
    width: inherit;
    margin: 0;
    text-align: center;
    padding: 50px;
  }

  .features-section_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .demo-section .wrapper-padding {
    padding: 50px;
  }

  .demo-section-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .demo-section__text {
    width: inherit;
    margin: auto;
  }

  .demo-section__video {
    height: 240px;
  }

  .wrapper-padding {
    padding: 50px;
  }
}
